<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    
    <%= javascript_include_tag "taskjavascript", "data-turbolinks-track": true %>

    <%= stylesheet_link_tag "style_task", "data-turbolinks-track": true  %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
